In [90]:
import pandas as pd
import numpy as np
import re

Imported dataset and set the 'Description' as the index.

In [91]:
data = pd.read_excel('data_7.xlsx')
data.set_index('Description', inplace = True)

In [92]:
data

                                   Quantity
Description
lotion Benzylbenzoate lotion        0Bottle
Methylated spirit 100ml             0Bottle
susp Magnessium Trisilicate 200ml   0Bottle
Susp. Amoxicillin 125mg/5ml         0Bottle
Susp. Erythromycin 125mg/5ml        0Bottle
...                                     ...
Syp Ascorbic acid                  20Bottle
syr Cough Syrup (P) 100ml          20Bottle
syr Cough Syrup (A) 100ml          10Bottle
Cotton Wool 100g                       1Pcs
Disposable gloves                    1Pairs

[2279 rows x 1 columns]

The 'Quantity' column has the measure and the quantity so those need to split up to their own columns.

Splitting the measure from the quantity first.

In [93]:
data['Measure'] = data['Quantity'].str.findall('\D').str.join("")
data

                                   Quantity Measure
Description
lotion Benzylbenzoate lotion        0Bottle  Bottle
Methylated spirit 100ml             0Bottle  Bottle
susp Magnessium Trisilicate 200ml   0Bottle  Bottle
Susp. Amoxicillin 125mg/5ml         0Bottle  Bottle
Susp. Erythromycin 125mg/5ml        0Bottle  Bottle
...                                     ...     ...
Syp Ascorbic acid                  20Bottle  Bottle
syr Cough Syrup (P) 100ml          20Bottle  Bottle
syr Cough Syrup (A) 100ml          10Bottle  Bottle
Cotton Wool 100g                       1Pcs     Pcs
Disposable gloves                    1Pairs   Pairs

[2279 rows x 2 columns]

Since the measure is already split off, there isn't a worry of deleting the text so I replaced all letters so that only the numbers remains.

In [94]:
data['Quantity'] = data['Quantity'].str.replace(r'([a-zA-Z]+)', '', regex = True)
data

                                  Quantity Measure
Description
lotion Benzylbenzoate lotion             0  Bottle
Methylated spirit 100ml                  0  Bottle
susp Magnessium Trisilicate 200ml        0  Bottle
Susp. Amoxicillin 125mg/5ml              0  Bottle
Susp. Erythromycin 125mg/5ml             0  Bottle
...                                    ...     ...
Syp Ascorbic acid                       20  Bottle
syr Cough Syrup (P) 100ml               20  Bottle
syr Cough Syrup (A) 100ml               10  Bottle
Cotton Wool 100g                         1     Pcs
Disposable gloves                        1   Pairs

[2279 rows x 2 columns]

Changed the quantity from an object to a float.

In [95]:
data['Quantity'] = pd.to_numeric(data['Quantity'])

In [96]:
data.dtypes

Quantity    float64
Measure      object
dtype: object

Added a total row at the bottom.

In [97]:
data.loc['Total'] = data.sum(numeric_only=True, axis = 0)
data

                                   Quantity Measure
Description
lotion Benzylbenzoate lotion            0.0  Bottle
Methylated spirit 100ml                 0.0  Bottle
susp Magnessium Trisilicate 200ml       0.0  Bottle
Susp. Amoxicillin 125mg/5ml             0.0  Bottle
Susp. Erythromycin 125mg/5ml            0.0  Bottle
...                                     ...     ...
syr Cough Syrup (P) 100ml              20.0  Bottle
syr Cough Syrup (A) 100ml              10.0  Bottle
Cotton Wool 100g                        1.0     Pcs
Disposable gloves                       1.0   Pairs
Total                               17600.0     NaN

[2280 rows x 2 columns]

In [88]:
with pd.ExcelWriter('clean_data.xlsx') as excel_writer:
    data.to_excel(excel_writer, sheet_name='Sheet1', index = True)