In [4]:
import pandas as pd
import numpy as np
import openpyxl

Imported dataset set the 'Order ID' as the index.

In [5]:
data = pd.read_excel('data_8.xlsx')
data.set_index('Order ID', inplace = True)
data

,Category,Amount
Order ID,,
CA-2011-167199,Binders | Art | Phones | Fasteners | Paper,609.98 | 5.48 | 391.98 | 755.96 | 31.12
CA-2011-149020,Office Supplies | Furniture,2.98 | 51.94
CA-2011-131905,Office Supplies | Technology | Technology,7.2 | 42.0186 | 42.035
CA-2011-127614,Accessories | Tables | Binders,234.45 | 1256.22 | 17.46

Split the '|' in the category column so that each category and amount has its own row.

In [6]:
data1 = data.apply(lambda x: x.str.split('|').explode())

In [7]:
data1

                        Category     Amount
Order ID
CA-2011-167199          Binders     609.98
CA-2011-167199              Art       5.48
CA-2011-167199           Phones     391.98
CA-2011-167199        Fasteners     755.96
CA-2011-167199             Paper      31.12
CA-2011-149020  Office Supplies       2.98
CA-2011-149020         Furniture      51.94
CA-2011-131905  Office Supplies        7.2
CA-2011-131905       Technology    42.0186
CA-2011-131905        Technology     42.035
CA-2011-127614      Accessories     234.45
CA-2011-127614           Tables    1256.22
CA-2011-127614           Binders      17.46

In [8]:
data1.dtypes

Category    object
Amount      object
dtype: object

Found that there was a space at the end of each 'Amount' value so I couldn't change it to a numeric so I needed to remove the space first.

In [9]:
data1['Amount'] = data1['Amount'].apply(lambda x: x.replace(' ', ''))

In [10]:
data1

                        Category   Amount
Order ID
CA-2011-167199          Binders    609.98
CA-2011-167199              Art      5.48
CA-2011-167199           Phones    391.98
CA-2011-167199        Fasteners    755.96
CA-2011-167199             Paper    31.12
CA-2011-149020  Office Supplies      2.98
CA-2011-149020         Furniture    51.94
CA-2011-131905  Office Supplies       7.2
CA-2011-131905       Technology   42.0186
CA-2011-131905        Technology   42.035
CA-2011-127614      Accessories    234.45
CA-2011-127614           Tables   1256.22
CA-2011-127614           Binders    17.46

Changed the 'Amount' type to a numeric.

In [11]:
data1['Amount'] = pd.to_numeric(data1['Amount'])

In [12]:
data1.dtypes

Category     object
Amount      float64
dtype: object

In [13]:
with pd.ExcelWriter('clean_data.xlsx') as excel_writer:
    data1.to_excel(excel_writer, sheet_name='Sheet1', index = True)